@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    span#burger {
        display: none;
    }

    nav.nav-menu {
        top: 0px;
        display: block;
        padding: 10px;
        padding-top: 25px;
        padding-left: 20px;
    }

    nav.nav-menu li {
        display: inline-block;
    }

    nav.nav-menu a {
        width: 130px;
        background-color: transparent;
        box-shadow: none;
        margin: auto;
        padding: 0px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    nav.nav-menu a:hover {
        color: rgb(0, 119, 255);
    }
}